{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel équipement{% endblock %}

{% block body %}

    <div class="container">

        <h1>Créer un nouvel équipement</h1>

        {% include 'admin/equipment/_form.html.twig' %}

    </div>

{% endblock %}
