{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle location{% endblock %}

{% block body %}

    <div class="container">

        <h1>Créer une nouvelle location</h1>

        {% include 'place/_form.html.twig' with {'button_label': 'Ajouter'} %}

    </div>

{% endblock %}
